.topMenu {
  background-color: #FFFFFF;
  border-width: 0;
  border-style: none;
}

.submenu {
  background-color: #FFFFFF;
  border-width: 1;
  border-style: solid;
  border-color: #AAAAAA;
}

.topItemNormal {
  background-image: url(img/css/btn1.gif);
  background-repeat: no-repeat;
  font-family: Tahoma;
  font-size: 11px;
  color: #FFFFFF;
  cursor: pointer;
}

.topItemOver {
  background-image: url(img/css/btn2.gif);
  background-repeat: no-repeat;
  font-family: Tahoma;
  font-size: 11px;
  color: #FFFFFF;
  cursor: pointer;
}

.itemNormal {
  font-family: Tahoma;
  font-size: 11px;
  color: #000000;
  cursor: pointer;
  background-color: #FFFFFF;
}

.itemOver {
  font-family: Tahoma;
  font-size: 11px;
  color: #FFFFFF;
  cursor: pointer;
  background-color: #357EF8;
}

